<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.airbridge.appcrawler">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">

    </application>

</manifest>
